.table{
    background-color: #B072FF;
    border: 3px solid black;
    width: 400px;
}

.line{
    display: inline-block;
}

.busket{
    background-color: #C94FF4;
    color: black;
    padding: auto 7px;
}