img{
    width: 100%;
    height: auto;
}

ul,li,p,a,body,h1,h2,h3{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto','Arial',sans-serif;
}

ul,li{
    list-style: none;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.main-header{
    border: 2px solid #000;
    padding: 20px 0px;
    background-color: #fcff65;
}

.logo{
    margin-right: 15px;
}

.header-wrap{
    display: flex;
    align-items: center;
}

.main-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 500px;

    display: flex;
    align-items: center;
}

.nav-list-item{
    margin-right: 55px;
}

.header-left-part{
    display: flex;
    background-color: #e29affcf;
    padding: 15px 30px;
    align-items: center;
}

.nav-list-item a{
    display: block;
    width: 40px;
}


.header-left-part-wrap{
    width: 100%;
}


.header-sail-alarm{
    font-family: 'Rubik Mono One','Arial',sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}


.main-wrap{
    display: flex;
    background-color:#ffb36c;
    justify-content: center;
}

.main-footer .container{
    display: flex;
    justify-content: space-between;
    /*background-color:#fcff65;*/
}

.social-link-list{
    display: flex;
}

aside{
    width: 300px;
    background-color: #00ff9d;
    padding: 20px 25px;
    border: 3px solid #000;
    margin-right: 40px;
}

.side-nav li{
    background-color:#9886ff;
    margin-bottom:7px;
    padding:5px 10px;
}

.side-nav a{
    text-decoration: none;
    color: #ffffff;
}


.index-main{
    padding-bottom: 50px;
}

.main-container{
    width: 900px;
    padding-top: 20px;
    box-sizing: border-box;
}

.best-shrek{
    padding: 20px 25px;
    background-color: #00ffd5;
    margin-bottom: 35px;
}

.shreck-img-wrap{
    width: 185px;
}

.description-wrap{
    display:flex;
    justify-content: space-between;
}

.slider-container{
    background-color: #fff;
    width: 900px;
    min-height: 160px;
    border-radius: 30px;
    margin-left: -20px;
    position: relative;
}

footer{
    background-color:#fcff65;
}

.slider_item{
    /*background: linear-gradient(93deg, #f6ffbe 0.75%, #d16fff 100%);*/
    background-image: url(https://nardi-chetki.ru/image/cache/catalog/skidka-10-protsentov-800x600.jpg) ;
    width: 100%;
    cursor: pointer;
    display: none;
    border-radius: 30px;
}

.slider-item_pricing{
    align-self: center;
}

.slider-item_wrap{
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
}

.slider-item_headline{
    font-family: 'Roboto','Arial',sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
    color: #000000;
}

.slider-item_text{
    font-family:'Roboto','Arial',sans-serif;
    width: 390px;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.old-price{
    position: relative;
}

.old-price span{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: rgb(0, 0, 0);
}

.old-price .throw-line{
    width: 175px;
    height: 3px;
    background: #e92b2b;
    position: absolute;
    left: -15px;
    top: 20px;
}

.new-price span{
    font-family: 'Roboto','Arial',sans-serif;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    text-decoration-line: underline;
    color: #000000;
}

.slider-img_wrap{
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    width: 170px;
}

.slider_btn{
    border: none;
    position: absolute;
    width: 32px;
    height: 55px;
    padding: 10px 8px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background: #fff628;
    border-radius: 7px;
    top: 40%;
    cursor: pointer;
}

.slider_btn:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.slider_btn:active{
    box-shadow: none;
}

.btn--left{
    left: 10px;
}

.btn--right{
    right: 10px;
    transform: rotate(180deg);
}

.current-slide{
    display: block;
}

nav input[type=text]{
    padding: 5px;
    margin-top: 8px;
    font-size: 16px;
    border: none;
}

nav{
    overflow: hidden;
}

nav .search-place{
    float: right;
}

nav .search-place button:hover{
    background: #ea00ff;
}
nav .search-place button{
    float: right;
    padding: 3px;
    margin-top: 7px;
    margin-right: 15px;
    background: rgb(255, 255, 255);
    font-size: 18px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 570px) {
    nav .search-place{
        float: none;
    }
    nav,nav input [type=text],nav.search-place button{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 12px;
    }
    nav input[type=text]{
        border: 7px ridge #b700ffcf;
    }
}

nav input [type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.navigation{
    margin-bottom: 10px;
    text-align: center;
}

.search-place{
    background-color: #8e9fffcf;
    border: 7px ridge #d059ffcf;
}

input{
    width: 96%;
    padding-bottom: px;
}

.description-wrap .Govorit-Chi{
    text-align: right;
}